/tests/__pycache__
/services/server/src/safe_socket/__pycache__
/services/server/src_frozen/lottery/__pycache__
/tests/utils/__pycache__
/services/server/src/__pycache__
/services/server/src/logger/__pycache__
/services/server/src/server/__pycache__
/services/server/src/protocol/__pycache__
/output
